<h1>User profile</h1>

<img src="{{path}}" height='400'>

<form action="/user/profile" method="post" enctype="multipart/form-data">
    <input type="file" placeholder="User image" name='image'>
    <button type="submit">Upload image</button>
</form>